<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
    <h1><h:outputText value="#{bundle.Management}"/></h1>
        <br />
        <h:link outcome="/leagueEntity/List" value="#{bundle.ShowAllLeagueEntityItems}"/>
        <br />
        <h:link outcome="/teamEntity/List" value="#{bundle.ShowAllTeamEntityItems}"/>
        <br />
        <h:link outcome="/playerEntity/List" value="#{bundle.ShowAllPlayerEntityItems}"/>
        <br />
    <h1><h:outputText value="#{bundle.Reports}"/></h1>
        <br />
	<h2><h:outputText value="#{bundle.BASKETBALL}"/></h2>
        <h:link outcome="/reports/BasketballTop10Players" value="#{bundle.BasketballTop10Players}" target="_new"/>
        <br />
        <h:link outcome="/reports/BasketballTop10Teams" value="#{bundle.BasketballTop10Teams}" target="_new"/>
        <br />
        <h:link outcome="/reports/BasketballTop10Leagues" value="#{bundle.BasketballTop10Leagues}" target="_new"/>
        <br />
        
	<h2><h:outputText value="#{bundle.FOOTBALL}"/></h2>
        <h:link outcome="/reports/FootballTop10Players" value="#{bundle.FootballTop10Players}" target="_new"/> 
        <br/>
        <h:link outcome="/reports/FootballTop10Teams" value="#{bundle.FootballTop10Teams}" target="_new"/> 
        <br/>
        <h:link outcome="/reports/FootballTop10Leagues" value="#{bundle.FootballTop10Leagues}" target="_new"/> 
        <br/>
		
        
    </h:body>



</html>

