<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/reportTemplate.xhtml">
	<ui:define name="title">
		<h:outputText value="#{bundle.BasketballTop10Leagues}"></h:outputText>
	</ui:define>
	<ui:define name="body">
	<h:dataTable value="#{reportsController.basketballTop10Leagues}" var="item">
		<h:column>
			<f:facet name="header"><h:outputText value="#{bundle.Title_name}"/></f:facet>
			<h:outputText value="#{item.name}"/>
		</h:column>
	</h:dataTable>
	</ui:define>
</ui:composition>
</html>
