<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
	<ui:define name="title">
		<h:outputText value="#{bundle.EditLeagueEntityTitle}"></h:outputText>
	</ui:define>
	<ui:define name="body">
		<h:form>
			<p:growl id="growl" showDetail="true" sticky="false" />
			<p:toolbar>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:button outcome="/index" value="#{bundle.IndexLink}" />
					<p:commandButton action="#{leagueEntityController.prepareList}"
						value="#{bundle.ShowAllLink}" immediate="true" ajax="false" />
					<p:button outcome="View" value="#{bundle.ViewLink}" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton action="#{leagueEntityController.update}"
						value="#{bundle.SaveLink}" ajax="false" update="growl name game" />
				</p:toolbarGroup>
			</p:toolbar>
			<h:panelGrid columns="2">
				<h:outputLabel value="#{bundle.Label_id}" />
				<h:outputLabel value="#{leagueEntityController.editing.id}" />
				<h:outputLabel value="#{bundle.Label_name}" for="name" />
				<h:inputText id="name"
					value="#{leagueEntityController.editing.name}"
					title="#{bundle.Title_name}" required="true"
					requiredMessage="#{bundle.RequiredMessage_name}" />
				<h:outputLabel value="#{bundle.Label_game}" for="game" />
				<h:outputLabel id="game"
					value="#{bundle[leagueEntityController.editing.game]}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>

</html>
