<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
	<ui:define name="title">
		<h:outputText value="#{bundle.ListLeagueEntityTitle}"></h:outputText>
	</ui:define>
	<ui:define name="body">
		<h:form id="form" styleClass="jsfcrud_list_form">
			<p:growl id="growl" showDetail="true" sticky="false" />
			<h:panelGroup id="workGroup">
				<p:toolbar id="workGroupToolbar">
					<p:toolbarGroup>
						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>
						<p:button outcome="/index" value="#{bundle.IndexLink}"
							disabled="#{leagueEntityController.inlineEditingEnabled}" />
					</p:toolbarGroup>
					<p:toolbarGroup>
						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>
						<p:commandButton action="#{leagueEntityController.prepareView}"
							value="#{bundle.ViewLink}" ajax="false"
							disabled="#{leagueEntityController.selectionEmpty || leagueEntityController.inlineEditingEnabled}" />

						<p:commandButton action="#{leagueEntityController.prepareCreate}"
							value="#{bundle.CreateLink}" ajax="false"
							disabled="#{leagueEntityController.inlineEditingEnabled}" />


						<p:commandButton action="#{leagueEntityController.prepareEdit}"
							value="#{bundle.EditLink}" ajax="false"
							disabled="#{leagueEntityController.selectionEmpty || leagueEntityController.inlineEditingEnabled}" />


						<p:commandButton action="#{leagueEntityController.destroy}"
							value="#{bundle.DestroyLink}" ajax="false" update="growl"
							disabled="#{leagueEntityController.selectionEmpty || leagueEntityController.inlineEditingEnabled}" />
					</p:toolbarGroup>
					<p:toolbarGroup id="inlineToolbarGroup">
						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>
						<p:commandButton
							action="#{leagueEntityController.prepareInlineCreate}"
							disabled="#{leagueEntityController.inlineEditingEnabled}"
							value="#{bundle.CreateInlineLink}" ajax="true"
							update="datatable workGroupToolbar" />
						<p:commandButton
							action="#{leagueEntityController.prepareInlineEdit}"
							value="#{bundle.EditInlineLink}"
							disabled="#{leagueEntityController.selectionEmpty || leagueEntityController.inlineEditingEnabled}"
							update="datatable workGroupToolbar" />
						<p:commandButton
							action="#{leagueEntityController.cancelInlineEdits}"
							value="#{bundle.CancelInlineLink}" immediate="true"
							disabled="#{!leagueEntityController.inlineEditingEnabled}"
							update="workGroupToolbar growl datatable" />
						<p:commandButton
							action="#{leagueEntityController.updateInlineEdits}"
							value="#{bundle.UpdateInlineLink}"
							disabled="#{!leagueEntityController.inlineEditingEnabled}"
							update="workGroupToolbar growl datatable" />
					</p:toolbarGroup>
					<p:toolbarGroup>
						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>
						<p:commandButton action="#{leagueEntityController.refresh}"
							value="#{bundle.RefreshLink}" update="workGroupToolbar datatable"
							disabled="#{leagueEntityController.inlineEditingEnabled}" />
					</p:toolbarGroup>
				</p:toolbar>
				<p:dataTable id="datatable" value="#{leagueEntityController.items}"
					var="item" selection="#{leagueEntityController.selected}"
					lazy="true" rowKey="#{item.id}" paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" widgetVar="datatable"
					selectionMode="single">
					<p:ajax event="rowSelect"
						listener="#{leagueEntityController.onRowSelect}"
						update=":form:workGroupToolbar, :form:datatable"/>
					
					<p:column headerText="#{bundle.Title_id}" id="id"
						style="width: 100px">
						<h:outputText value="#{item.id}" />
					</p:column>
					<p:column headerText="#{bundle.Title_name}" field="name">
						<h:outputText value="#{item.name}"
							rendered="#{!leagueEntityController.inlineEditable(item)}" />
						<p:inputText id="name"
							value="#{leagueEntityController.editing.name}"
							title="#{bundle.Title_name}" required="true"
							requiredMessage="#{bundle.RequiredMessage_name}" immediate="true"
							rendered="#{leagueEntityController.inlineEditable(item)}" />
					</p:column>
					<p:column headerText="#{bundle.Title_game}">
						<h:outputText value="#{bundle[item.game]}"
							rendered="#{!leagueEntityController.inlineNewEditable(item)}" />
						<p:selectOneMenu id="game"
							rendered="#{leagueEntityController.inlineNewEditable(item)}"
							value="#{leagueEntityController.editing.game}" required="true"
							requiredMessage="#{bundle.RequiredMessage_game}" immediate="true">
							<f:selectItem itemLabel="#{bundle.SelectGameType}" itemValue="" />
							<f:selectItem itemLabel="#{bundle.BASKETBALL}"
								itemValue="BASKETBALL" />
							<f:selectItem itemLabel="#{bundle.FOOTBALL}" itemValue="FOOTBALL" />
						</p:selectOneMenu>
					</p:column>
				</p:dataTable>

			</h:panelGroup>
			<p:confirmDialog id="rowEditingConfirm" widgetVar="rowEditingConfirm"
				header="Row editing"
				message="You edditing current row, save row changes ?">
				<p:commandButton value="No"
					action="#{leagueEntityController.cancelInlineEdits}" update="growl"
					oncomplete="PF('rowEditingConfirm').hide()" />
				<p:commandButton value="Yes"
					action="#{leagueEntityController.updateInlineEdits}"
					update="datatable growl"
					oncomplete="PF('rowEditingConfirm').hide()" />
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>
