<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
	<ui:define name="title">
		<h:outputText value="#{bundle.ViewLeagueEntityTitle}"></h:outputText>
	</ui:define>
	<ui:define name="body">
		<h:form>
			<p:growl id="growl" showDetail="true" sticky="false" />
			<p:toolbar>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:button outcome="/index" value="#{bundle.IndexLink}" />
					<p:commandButton action="#{leagueEntityController.prepareList}"
						value="#{bundle.ShowAllLink}" ajax="false" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton action="#{leagueEntityController.prepareCreate}"
						value="#{bundle.CreateLink}" ajax="false" />
					<p:button outcome="Edit" value="#{bundle.EditLink}" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton action="#{leagueEntityController.destroyAndView}"
						value="#{bundle.DestroyLink}" ajax="false" />
				</p:toolbarGroup>
			</p:toolbar>
			<h:panelGrid columns="2">
				<h:outputText value="#{bundle.Label_id}" />
				<h:outputText value="#{leagueEntityController.selected.id}"
					title="#{bundle.Title_id}" />
				<h:outputText value="#{bundle.Label_name}" />
				<h:outputText value="#{leagueEntityController.selected.name}"
					title="#{bundle.Title_name}" />
				<h:outputText value="#{bundle.Label_game}" />
				<h:outputText
					value="#{bundle[leagueEntityController.selected.game]}"
					title="#{bundle.Title_game}" />
			</h:panelGrid>
			<p:dataTable value="#{leagueEntityController.teams}" var="item">
				<p:column headerText="#{bundle.Title_id}">
					<h:outputText value="#{item.id}" />
				</p:column>
				<p:column headerText="#{bundle.Title_name}">
					<h:outputText value="#{item.name}" />
				</p:column>
				<p:column headerText="#{bundle.Title_playedGames}">
					<h:outputText value="#{item.playedGames}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>

</html>
