<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
	<ui:define name="title">
		<h:outputText value="#{bundle.EditPlayerEntityTitle}"></h:outputText>
	</ui:define>
	<ui:define name="body">
		<h:form>
			<p:growl id="growl" showDetail="true" sticky="false" />
			<p:toolbar>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:button outcome="/index" value="#{bundle.IndexLink}" />
					<p:commandButton action="#{playerEntityController.prepareList}"
						value="#{bundle.ShowAllLink}" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:button outcome="View" value="#{bundle.ViewLink}" />
					<p:commandButton action="#{playerEntityController.update}"
						value="#{bundle.SaveLink}"
						update="@form" />
				</p:toolbarGroup>
			</p:toolbar>

			<h:panelGrid columns="2">
				<p:outputLabel value="#{bundle.Label_id}" for="id" />
				<h:outputText id="id" value="#{playerEntityController.editing.id}"
					title="#{bundle.Title_id}" />

				<p:outputLabel value="#{bundle.Label_firstName}"
					for="firstName" />
				<p:inputText id="firstName"
					value="#{playerEntityController.editing.firstName}"
					title="#{bundle.Title_firstName}" required="true"
					requiredMessage="#{bundle.RequiredMessage_firstName}" >
					<f:ajax event="change" update="@form" render="@form" />
				</p:inputText>

				<p:outputLabel value="#{bundle.Label_lastName}"
					for="lastName" />
				<p:inputText id="lastName"
					value="#{playerEntityController.editing.lastName}"
					title="#{bundle.Title_lastName}" required="true"
					requiredMessage="#{bundle.RequiredMessage_lastName}" >
					<f:ajax event="change" update="@form" render="@form" />
				</p:inputText>

				<p:outputLabel value="#{bundle.Label_game}"
					for="game" />
				<h:outputText id="game" 
					value="#{bundle[playerEntityController.editing.game]}"/>


				<p:outputLabel value="#{bundle.Label_position}"
					for="position" />
				<p:selectOneMenu id="position"
					value="#{playerEntityController.editing.position}"
					disabled="#{playerEntityController.editing.game == null}"
					title="#{bundle.Title_position}" required="true"
					requiredMessage="#{bundle.RequiredMessage_position}">
					<f:selectItem itemLabel="#{bundle.ChoosePlayerPosition}"
						itemValue="" />
					<f:selectItems
						value="#{playerEntityController.possiblePositions}" var="pitem"
						itemLabel="#{bundle[pitem]}" itemValue="#{pitem}" />
					<f:ajax event="change" update="@form" render="@form" />
				</p:selectOneMenu>

				<p:outputLabel value="#{bundle.Label_team}"
					for="team" />
				<p:selectOneMenu id="team"
					value="#{playerEntityController.editing.team}"
					disabled="#{playerEntityController.editing.game == null}"
					title="#{bundle.Title_team}">
					<f:selectItem itemLabel="#bundle.ChooseTeam" />
					<f:selectItems value="#{playerEntityController.possibleTeams}"
						var="pitem" itemLabel="#{pitem.name}" itemValue="#{pitem}" />
					<f:ajax event="change" update="@form" render="@form" />
				</p:selectOneMenu>


				<p:outputLabel value="#{bundle.Label_playedGames}"
					for="playedGames" />
				<p:spinner id="playedGames"
					value="#{playerEntityController.editing.playedGames}"
					title="#{bundle.Title_playedGames}" 
					min="0" max="#{playerEntityController.maxPlayedGames}"
					disabled="#{playerEntityController.editing.team == null || playerEntityController.editing.team.playedGames == 0}">
					<f:ajax event="change" update="@form" render="@form" />
				</p:spinner>

				<p:outputLabel value="#{bundle.Label_points}"
					for="points" />
				<p:spinner id="points"
					value="#{playerEntityController.editing.points}"
					title="#{bundle.Title_points}"    min="0"
					disabled="#{playerEntityController.editing.playedGames==0}">
					<f:ajax event="change" update="@form" render="@form" />
				</p:spinner>
				
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>

</html>
