<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
	<ui:define name="title">
		<h:outputText value="#{bundle.ListPlayerEntityTitle}"></h:outputText>
	</ui:define>
	<ui:define name="body">
		<h:form styleClass="jsfcrud_list_form" id="form">
			<p:growl id="growl" showDetail="true" sticky="false" />
			<p:toolbar id="workGroupToolbar">
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:button outcome="/index" value="#{bundle.IndexLink}" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton action="#{playerEntityController.prepareView}"
						value="#{bundle.ViewLink}" ajax="false"
						disabled="#{playerEntityController.selectionEmpty || playerEntityController.inlineEditingEnabled}" />

					<p:commandButton action="#{playerEntityController.prepareCreate}"
						value="#{bundle.CreateLink}" ajax="false"
						disabled="#{playerEntityController.inlineEditingEnabled}" />


					<p:commandButton action="#{playerEntityController.prepareEdit}"
						value="#{bundle.EditLink}" ajax="false"
						disabled="#{playerEntityController.selectionEmpty || playerEntityController.inlineEditingEnabled}" />


					<p:commandButton action="#{playerEntityController.destroy}"
						value="#{bundle.DestroyLink}" ajax="false" update="growl"
						disabled="#{playerEntityController.selectionEmpty || playerEntityController.inlineEditingEnabled}" />

				</p:toolbarGroup>
				<p:toolbarGroup id="inlineToolbarGroup">
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton
						action="#{playerEntityController.prepareInlineCreate}"
						disabled="#{playerEntityController.inlineEditingEnabled}"
						value="#{bundle.CreateInlineLink}" ajax="true"
						update="datatable workGroupToolbar" />
					<p:commandButton
						action="#{playerEntityController.prepareInlineEdit}"
						value="#{bundle.EditInlineLink}"
						disabled="#{playerEntityController.selectionEmpty || playerEntityController.inlineEditingEnabled}"
						update="datatable workGroupToolbar" />
					<p:commandButton
						action="#{playerEntityController.cancelInlineEdits}"
						value="#{bundle.CancelInlineLink}" immediate="true"
						disabled="#{!playerEntityController.inlineEditingEnabled}"
						update="workGroupToolbar growl datatable" />
					<p:commandButton
						action="#{playerEntityController.updateInlineEdits}"
						value="#{bundle.UpdateInlineLink}"
						disabled="#{!playerEntityController.inlineEditingEnabled}"
						update="workGroupToolbar growl datatable" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton action="#{playerEntityController.refresh}"
						value="#{bundle.RefreshLink}" update="workGroupToolbar datatable"
						disabled="#{playerEntityController.inlineEditingEnabled}" />
				</p:toolbarGroup>

			</p:toolbar>

			<h:panelGroup>
				<p:dataTable id="datatable" widgetVar="datatable"
					value="#{playerEntityController.items}" var="item"
					selection="#{playerEntityController.selected}"
					selectionMode="single" rows="10" paginator="true" lazy="true"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15">
					<p:ajax event="rowSelect"
						listener="#{playerEntityController.onRowSelect}"
						update=":form:workGroupToolbar, :form:datatable" />

					<p:column headerText="#{bundle.Title_id}">
						<h:outputText value="#{item.id}"
							rendered="#{!playerEntityController.inlineNewEditable(item)}" />
					</p:column>
					<p:column headerText="#{bundle.Title_firstName}">
						<h:outputText value="#{item.firstName}"
							rendered="#{!playerEntityController.inlineEditable(item)}" />
						<p:inputText value="#{playerEntityController.editing.firstName}"
							rendered="#{playerEntityController.inlineEditable(item)}"
							title="#{bundle.Title_firstName}" required="true"
							requiredMessage="#{bundle.RequiredMessage_firstName}">
							<f:ajax event="change" update="@form" render="@form" />
						</p:inputText>
					</p:column>
					<p:column headerText="#{bundle.Title_lastName}">
						<h:outputText value="#{item.lastName}"
							rendered="#{!playerEntityController.inlineEditable(item)}" />
						<p:inputText value="#{playerEntityController.editing.lastName}"
							rendered="#{playerEntityController.inlineEditable(item)}"
							title="#{bundle.Title_lastName}" required="true"
							requiredMessage="#{bundle.RequiredMessage_lastName}">
							<f:ajax event="change" update="@form" render="@form" />
						</p:inputText>

					</p:column>
					<p:column headerText="#{bundle.Title_game}">
						<h:outputText value="#{bundle[item.game]}"
							rendered="#{!playerEntityController.inlineNewEditable(item)}" />
						<p:selectOneMenu id="game"
							rendered="#{playerEntityController.inlineNewEditable(item)}"
							value="#{playerEntityController.editing.game}"
							title="#{bundle.Title_game}" required="true"
							requiredMessage="#{bundle.RequiredMessage_game}">
							<f:selectItem itemLabel="#{bundle.SelectGameType}" itemValue="" />
							<f:selectItem itemLabel="#{bundle.BASKETBALL}"
								itemValue="BASKETBALL" />
							<f:selectItem itemLabel="#{bundle.FOOTBALL}" itemValue="FOOTBALL" />
							<f:ajax event="change" update="@form" render="@form" />
						</p:selectOneMenu>

					</p:column>
					<p:column headerText="#{bundle.Title_position}">
						<h:outputText value="#{bundle[item.position]}"
							rendered="#{!playerEntityController.inlineEditable(item)}" />
						<p:selectOneMenu id="position_select"
							value="#{playerEntityController.editing.position}"
							disabled="#{playerEntityController.editing.game == null}"
							rendered="#{playerEntityController.inlineEditable(item)}"
							title="#{bundle.Title_position}" required="true"
							requiredMessage="#{bundle.RequiredMessage_position}">
							<f:selectItem itemLabel="#{bundle.ChoosePlayerPosition}"
								itemValue="" />
							<f:selectItems
								value="#{playerEntityController.possiblePositions}" var="pitem"
								itemLabel="#{bundle[pitem]}" itemValue="#{pitem}" />
							<f:ajax event="change" update="@form" render="@form" />
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="#{bundle.Title_team}">
						<h:outputText value="#{item.team}"
							rendered="#{!playerEntityController.inlineEditable(item)}" />

						<p:selectOneMenu id="team_select"
							value="#{playerEntityController.editing.team}"
							disabled="#{playerEntityController.editing.game == null}"
							rendered="#{playerEntityController.inlineEditable(item)}"
							title="#{bundle.Title_team}">
							<f:selectItem itemLabel="#bundle.ChooseTeam" />
							<f:selectItems value="#{playerEntityController.possibleTeams}"
								var="pitem" itemLabel="#{pitem.name}" itemValue="#{pitem}" />
							<f:ajax event="change" update="@form" render="@form" />
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="#{bundle.Title_playedGames}">
						<h:outputText value="#{item.playedGames}"
							rendered="#{!playerEntityController.inlineEditable(item)}" />
						<p:spinner id="playedGames_select"
							value="#{playerEntityController.editing.playedGames}"
							rendered="#{playerEntityController.inlineEditable(item)}" min="0"
							max="#{playerEntityController.maxPlayedGames}"
							disabled="#{playerEntityController.editing.team == null || playerEntityController.editing.team.playedGames == 0}">
							<f:ajax event="change" update="@form" render="@form" />
						</p:spinner>
					</p:column>
					<p:column headerText="#{bundle.Title_points}">
						<h:outputText value="#{item.points}"
							rendered="#{!playerEntityController.inlineEditable(item)}" />
						<p:spinner id="points_select"
							value="#{playerEntityController.editing.points}" min="0"
							rendered="#{playerEntityController.inlineEditable(item)}"
							disabled="#{playerEntityController.editing.playedGames==0}">
							<f:ajax event="change" update="@form" render="@form" />
						</p:spinner>

					</p:column>
				</p:dataTable>
			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>

</html>
