<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
	<ui:define name="title">
		<h:outputText value="#{bundle.ViewPlayerEntityTitle}"></h:outputText>
	</ui:define>
	<ui:define name="body">
		<h:form>
			<p:growl id="growl" showDetail="true" sticky="false" />
			<p:toolbar>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:button outcome="/index" value="#{bundle.IndexLink}" />
					<p:commandButton action="#{playerEntityController.prepareList}"
						value="#{bundle.ShowAllLink}" ajax="false" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton action="#{playerEntityController.prepareCreate}"
						value="#{bundle.CreateLink}" ajax="false" />
					<p:button outcome="Edit" value="#{bundle.EditLink}" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton action="#{playerEntityController.destroyAndView}"
						value="#{bundle.DestroyLink}" ajax="false" />
				</p:toolbarGroup>
			</p:toolbar>
			<h:panelGrid columns="2">
				<h:outputText value="#{bundle.Label_id}" />
				<h:outputText value="#{playerEntityController.selected.id}"
					title="#{bundle.Title_id}" />
				<h:outputText value="#{bundle.Label_firstName}" />
				<h:outputText value="#{playerEntityController.selected.firstName}"
					title="#{bundle.Title_firstName}" />
				<h:outputText value="#{bundle.Label_lastName}" />
				<h:outputText value="#{playerEntityController.selected.lastName}"
					title="#{bundle.Title_lastName}" />
				<h:outputText value="#{bundle.Label_game}" />
				<h:outputText value="#{bundle[playerEntityController.selected.game]}"
					title="#{bundle.Title_game}" />
				<h:outputText value="#{bundle.Label_position}" />
				<h:outputText value="#{bundle[playerEntityController.selected.position]}"
					title="#{bundle.Title_position}" />
				<h:outputText value="#{bundle.Label_team}" />
				<h:outputText value="#{playerEntityController.selected.team.name}"
					title="#{bundle.Title_team}" />
				<h:outputText value="#{bundle.Label_points}" />
				<h:outputText value="#{playerEntityController.selected.points}"
					title="#{bundle.Title_points}" />
				<h:outputText value="#{bundle.Label_playedGames}" />
				<h:outputText value="#{playerEntityController.selected.playedGames}"
					title="#{bundle.Title_playedGames}" />
			</h:panelGrid>
			
		</h:form>
	</ui:define>
</ui:composition>

</html>
