<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
	<ui:define name="title">
		<h:outputText value="#{bundle.EditTeamEntityTitle}"></h:outputText>
	</ui:define>
	<ui:define name="body">
		<h:form>
			<p:growl id="growl" showDetail="true" sticky="false" />
			<p:toolbar>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:button outcome="/index" value="#{bundle.IndexLink}" />
					<p:commandButton action="#{teamEntityController.prepareList}"
						value="#{bundle.ShowAllLink}" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:button outcome="View" value="#{bundle.ViewLink}" />
					<p:commandButton action="#{teamEntityController.update}"
						value="#{bundle.SaveLink}"
						update="growl, name, leagues, playedGames" />
				</p:toolbarGroup>
			</p:toolbar>

			<h:panelGrid columns="2">
				<p:outputLabel value="#{bundle.Label_id}" />
				<h:outputText value="#{teamEntityController.editing.id}"
					title="#{bundle.Title_id}" />

				<p:outputLabel value="#{bundle.Label_name}" for="name" />
				<p:inputText id="name" value="#{teamEntityController.editing.name}"
					title="#{bundle.Title_name}" required="true"
					requiredMessage="#{bundle.RequiredMessage_name}" />

				<p:outputLabel value="#{bundle.Label_game}" />
				<h:outputText value="#{bundle[teamEntityController.editing.game]}"
					title="#{bundle.Title_game}" />

				<p:outputLabel value="#{bundle.Label_playedGames}" for="playedGames" />
				<p:inputText id="playedGames"
					value="#{teamEntityController.editing.playedGames}"
					title="#{bundle.Title_playedGames}" required="true"
					requiredMessage="#{bundle.RequiredMessage_playedGames}" />
			</h:panelGrid>
			<h:panelGroup>
				<p:outputLabel value="#{bundle.Label_Leagues}" for="leagues" />
				<p:pickList id="leagues"
					value="#{teamEntityController.leaguesDualList}" var="league"
					itemLabel="#{league.name}" itemValue="#{league.id}"
					converter="leagueConverter" />

			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>

</html>
