<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
	<ui:define name="title">
		<h:outputText value="#{bundle.ListTeamEntityTitle}"></h:outputText>
	</ui:define>
	<ui:define name="body">
		<h:form styleClass="jsfcrud_list_form" id="form">
			<p:growl id="growl" showDetail="true" sticky="false" />
			<p:toolbar id="workGroupToolbar">
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:button outcome="/index" value="#{bundle.IndexLink}" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton action="#{teamEntityController.prepareView}"
						value="#{bundle.ViewLink}" ajax="false"
						disabled="#{teamEntityController.selectionEmpty || teamEntityController.inlineEditingEnabled}" />

					<p:commandButton action="#{teamEntityController.prepareCreate}"
						value="#{bundle.CreateLink}" ajax="false"
						disabled="#{teamEntityController.inlineEditingEnabled}" />


					<p:commandButton action="#{teamEntityController.prepareEdit}"
						value="#{bundle.EditLink}" ajax="false"
						disabled="#{teamEntityController.selectionEmpty || teamEntityController.inlineEditingEnabled}" />


					<p:commandButton action="#{teamEntityController.destroy}"
						value="#{bundle.DestroyLink}" ajax="false" update="growl"
						disabled="#{teamEntityController.selectionEmpty || teamEntityController.inlineEditingEnabled}" />

				</p:toolbarGroup>
				<p:toolbarGroup id="inlineToolbarGroup">
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton
						action="#{teamEntityController.prepareInlineCreate}"
						disabled="#{teamEntityController.inlineEditingEnabled}"
						value="#{bundle.CreateInlineLink}" ajax="true"
						update="datatable workGroupToolbar" />
					<p:commandButton action="#{teamEntityController.prepareInlineEdit}"
						value="#{bundle.EditInlineLink}"
						disabled="#{teamEntityController.selectionEmpty || teamEntityController.inlineEditingEnabled}"
						update="datatable workGroupToolbar" />
					<p:commandButton action="#{teamEntityController.cancelInlineEdits}"
						value="#{bundle.CancelInlineLink}" immediate="true"
						disabled="#{!teamEntityController.inlineEditingEnabled}"
						update="workGroupToolbar growl datatable" />
					<p:commandButton action="#{teamEntityController.updateInlineEdits}"
						value="#{bundle.UpdateInlineLink}"
						disabled="#{!teamEntityController.inlineEditingEnabled}"
						update="workGroupToolbar growl datatable" />
				</p:toolbarGroup>
				<p:toolbarGroup>
					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>
					<p:commandButton action="#{teamEntityController.refresh}"
						value="#{bundle.RefreshLink}" update="workGroupToolbar datatable"
						disabled="#{teamEntityController.inlineEditingEnabled}" />
				</p:toolbarGroup>

			</p:toolbar>

			<h:panelGroup>
				<p:dataTable id="datatable" widgetVar="datatable"
					value="#{teamEntityController.items}" var="item"
					selection="#{teamEntityController.selected}" selectionMode="single"
					rows="10" paginator="true" lazy="true"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15">
					<p:ajax event="rowSelect"
						listener="#{teamEntityController.onRowSelect}"
						update=":form:workGroupToolbar, :form:datatable" />

					<p:column headerText="#{bundle.Title_id}" style="width: 100px">
						<h:outputText value="#{item.id}" />
					</p:column>
					<p:column headerText="#{bundle.Title_name}">
						<h:outputText value="#{item.name}"
							rendered="#{!teamEntityController.inlineEditable(item)}" />
						<p:inputText id="name"
							value="#{teamEntityController.editing.name}"
							title="#{bundle.Title_name}" required="true"
							requiredMessage="#{bundle.RequiredMessage_name}"
							rendered="#{teamEntityController.inlineEditable(item)}" />
					</p:column>
					<p:column headerText="#{bundle.Title_game}">
						<h:outputText value="#{bundle[item.game]}"
							rendered="#{!teamEntityController.inlineNewEditable(item)}" />
						<p:selectOneMenu id="game"
							rendered="#{teamEntityController.inlineNewEditable(item)}"
							value="#{teamEntityController.editing.game}" required="true"
							requiredMessage="#{bundle.RequiredMessage_game}">
							<f:selectItem itemLabel="#{bundle.SelectGameType}" itemValue="" />
							<f:selectItem itemLabel="#{bundle.BASKETBALL}"
								itemValue="BASKETBALL" />
							<f:selectItem itemLabel="#{bundle.FOOTBALL}" itemValue="FOOTBALL" />
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="#{bundle.Title_playedGames}">
						<h:outputText value="#{item.playedGames}"
							rendered="#{!teamEntityController.inlineEditable(item)}" />
						<p:spinner value="#{teamEntityController.editing.playedGames}"
							min="0" rendered="#{teamEntityController.inlineEditable(item)}" />
					</p:column>
				</p:dataTable>
			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>

</html>
